$cor-primaria: #00ab6b;
body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fafafa;
    color: #7f8c8d;
    font-family: 'Source Sans Pro', sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    display: inline-block;
    width: 100%;
    font-weight: 600;
}

.panel-area {
    position: fixed;
    width: 300px;
    height: 100%;
    max-height: 100vh;
    background: #fff;
    top: 0;
    left: 0;
    bottom: 0px;
}

.panel-fixed-left {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow: visible;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 5;
}

ul {
    padding: 0px;
}

.vertical-menu {
    ul {
        li {
            list-style: none;
            a {
                display: inline-block;
                width: 100%;
                padding: 10px 15px;
                color: $cor-primaria;

                &:hover {
                    background-color: $cor-primaria;
                    color: #ffffff;
                }
            }
        }
    }
}

main {
    background-color: #fafafa;
    margin: 25px 25px 25px 300px;
    min-height: 100vh;
    
    >.container-fluid {
        padding: 15px;
    }
}

.button {
    padding: 6px 20px;
    border: 1px solid transparent;
    background: transparent;
    color: $cor-primaria;
    cursor: pointer;
    transition: .2s;

    &:hover {
        background: #ccc;
        color: $cor-primaria;
    }

    &.button-primary {
        background-color: $cor-primaria;
        color: #ffffff!important;

        &:hover {
            opacity: .9;
        }
    }

    &.button-secondary {
        background-color: transparent;
        border-color: $cor-primaria;
        color: $cor-primaria;

        &:hover {
            background-color: $cor-primaria;
            border-color: $cor-primaria;
            color: #ffffff;
        }
    }
}

.rounded {
    border-radius: 30px;
}

.form-control {
    width: 100%;
    padding: 6px 12px;
    border: 1px solid #ccc;
    color: #252525;
    font-size: 13px;
    height: 34px;
}

label {
    display: block;
    padding: 6px 0px;
    font-size: 13px;
    font-weight: 600;
    color: $cor-primaria;
}

.container-fluid {
    display: inline-block;
    width: 100%;
}

a {
    text-decoration: none;
}

.tabela {
    border-collapse: collapse;
    background-color: transparent;
}

.tabela td,
.tabela th {
    vertical-align: top;
    border-top: 1px solid #eceeef;
    padding: 12px;
}

.tabela th {
    font-weight: bold;
}

.linha {
    width: 100%;
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

section {
    display: none;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.lin {
    display: inline-block;
    width: 100%;
    margin: 15px 0px;
}

.col-md-12 {
    width: 100%;
}

.col-md-11 {
    width: 91.66666667%;
}

.col-md-10 {
    width: 83.33333333%;
}

.col-md-9 {
    width: 75%;
}

.col-md-8 {
    width: 66.66666667%;
}

.col-md-7 {
    width: 58.33333333%;
}

.col-md-6 {
    width: 50%;
}

.col-md-5 {
    width: 41.66666667%;
}

.col-md-4 {
    width: 33.33333333%;
}

.col-md-3 {
    width: 25%;
}

.col-md-2 {
    width: 16.66666667%;
}

.col-md-1 {
    width: 8.33333333%;
}

div[class^="col-md"] {
    float: left;
    padding: 0 15px;
}

.show-grid {
    div[class^="col-md"] {
        padding: 15px;
        border: 1px solid #ccc;
    }
}

select option {
    border: 1px solid #cbcbcb;
    padding-left: 17px;
    padding-top: 15px;
    color: $cor-primaria;
    width: 227px;
    height: 34px;
}

// Mensagens
.mensagem {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 2px;
}

.mensagem-sucesso {
    color: #38d15b;
    background-color: #fff;
    border-color: #38d15b;
}

.mensagem-aviso {
    color: #878401;
    background-color: #fff;
    border-color: #fffa00;
}

.mensagem-erro {
    color: #ff0000;
    background-color: #fff;
    border-color: #ff0000;
}