$cor-primaria: #00ab6b;
body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fafafa;
    font-family: 'Source Sans Pro', sans-serif;
}

.panel {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 240px;
    height: 100%;
    max-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0px;
    background: #ffffff;
    color: #424242;
    overflow: visible;
    overflow-y: auto;
    z-index: 5;
}

.button {
    padding: 6px 20px;
    border: 1px solid transparent;
    background: transparent;
    color: $cor-primaria;
    cursor: pointer;
    transition: .2s;
    &:hover {
        background: #ccc;
        color: $cor-primaria;
    }
    &.button-primary {
        background-color: $cor-primaria;
        color: #ffffff!important;
        &:hover {
            opacity: .9;
        }
    }
    &.button-secundary {
        background-color: transparent;
        border-color: $cor-primaria;
        color: $cor-primaria;
        &:hover {
            background-color: $cor-primaria;
            border-color: $cor-primaria;
            color: #ffffff;
        }
    }
}

.rounded {
    border-radius: 30px;
}

.form-control {
    width: 100%;
    padding: 6px 12px;
    border: 1px solid #ccc;
    color: #ccc;
}

label {
    display: inline-block;
    padding: 6px 20px;
    color: $cor-primaria;
}

.container-fluid {
    display: inline-block;
    width: 100%;
}

a {
    text-decoration: none;
}

.tabela {
    border-collapse: collapse;
    background-color: transparent;
}

.tabela td, .tabela th {
    vertical-align: top;
    border-top: 1px solid #eceeef;
}

.linha {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.col-md-1 {    width: 10%;}
.col-md-2 {    width: 10%;}
.col-md-3 {    width: 10%;}
.col-md-4 {    width: 10%;}
.col-md-5 {    width: 10%;}
.col-md-6 {    width: 10%;}
.col-md-7 {    width: 10%;}
.col-md-8 {    width: 10%;}
.col-md-9 {    width: 10%;}
.col-md-10 {    width: 10%;}
.col-md-11 {    width: 10%;}
.col-md-12 {    width: 10%;}


select option {
    height: 30px;
    border: 1px solid #cbcbcb;
    padding-left: 17px;
    padding-top: 12px;
    color: $cor-primaria;
}

select {
    width: 207px;
    height: 34px;
    padding-right: 16px;
    background: url(../resources/img/arrow.png) no-repeat right 7px #f0f0f0;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    -webkit-appearance: none;
    border-radius: 3px;
}
